.upload-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensures proper scaling */
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px; /* Adds some padding for mobile */
  box-sizing: border-box;
}

h1 {
  color: #333;
}

.month-chart {
  margin-bottom: 40px; /* Adds space between each chart */
  width: 100%; /* Full width for mobile */
  max-width: 600px; /* Limits max width on larger screens */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-drop-area {
  width: 100%; /* Make it responsive */
  max-width: 300px; /* Limit width on larger screens */
  height: 200px;
  border: 2px dashed #aaa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.3s;
  margin-bottom: 20px; /* Adds space between file area and charts */
}

.file-drop-area:hover {
  border-color: #777;
}

.file-input {
  display: none;
}

.file-drop-area p {
  text-align: center;
  color: #555;
  padding: 0 10px; /* Adds padding for better readability */
}

.monthly-charts {
  display: flex;
  flex-wrap: wrap; /* Adjusts charts for different screen sizes */
  justify-content: center;
  gap: 20px; /* Adds space between charts */
}

.button-div{
  display: contents;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .month-chart {
    max-width: 100%; /* Take full width on smaller screens */
  }
  
  .file-drop-area {
    max-width: 100%;
  }
}

/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}